/* *****HEADER */

#header {
    height: 60px;
}

.logo-mobile {
    width: 30px;
    aspect-ratio: 1;
}

.dropdown-toggle::after {
    display: none;
}

ul {
    margin: 0;
}

.form-control {
    font-size: 0.75rem;
}

.input-group-text {
    font-size: 0.75rem;
    background-color: #E5E5E5;
}

#header .form-control {
    padding-left: 0;
    background-color: #E5E5E5;
}

.fa-ellipsis-vertical {
    cursor: pointer;
}

.form-control:focus {
    box-shadow: none;
}

/* ****MAIN */

.main_container {
    height: calc(100vh - 60px);
}

/* ASIDE */

#aside {
    width: 70px;
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: #10283D;
}

.side_bar {
    height: 100%;
}

.side_bar a {
    text-decoration: none;
}

.admin {
    margin-top: auto;
}

.side_bar div:hover {
    cursor: pointer;
    padding: 5px 32px;
    background-color: rgba(255, 255, 255, 0.359);
}

/* MAIN CONTENT */

.main_content {
    width: calc(100% - 70px);
    height: 100%;
    overflow: auto;
}

/* STUDENT BAR */

.student_bar {
    width: 100%;
    background-color: #1B72E8;
}

.student_bar .plus {
    color: white;
    width: 40px;
    aspect-ratio: 1;
}

.btn_student {
    font-size: 12px;
    background-color: #165BBA;
}

.student_bar .arrow {
    font-size: 12px;
}

.offcanvas {
    width: calc(100% - 70px) !important;
}

.offcanvas .col {
    padding: 0;
}

.offcanvas .form-select {
    font-size: 0.75rem;
}

.offcanvas .btn {
    font-size: 12px;
}

.offcanvas .form-check-label {
    font-size: 12px;
}

/* INFO */

.info {
    width: 100%;
    height: calc(100% - 100px);
}

.column {
    width: 100%;
}

.info .btn {
    font-size: 10px;
}

.info .btn:hover {
    background-color: rgb(183, 183, 183);
}

.info .badge {
    font-size: 9px;
}

.column h2 {
    background-color: #F7F7F7;
    border-radius: 10px 10px 0 0;
}

.column.left .card {
    border-radius: 0 0 10px 10px;
    padding: 5px 20px;
}

.table td {
    text-align: center;
    vertical-align: middle;
}

.table tr:hover td {
    background-color: rgb(241, 241, 241);
}

.table .name {
    text-align: start;
}

.table td {
    padding: 4px 0;
}

.code {
    display: inline-block;
    width: 32px;
    aspect-ratio: 1;
}

.code img {
    width: 100%;
    border-radius: 50%;
}

.table .btn.btn-outline-secondary {
    padding: 6px
}

.accordion-button {
    padding: 10px 16px;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body {
    font-size: 14px;
}

.card img {
    width: 100%;
}

.card.inside-top {
    border-radius: 5px 5px 0 0;
}

.card.inside-bottom {
    border-radius: 0 0 5px 5px;
}

@media screen and (min-width: 768px) {
    .offcanvas {
        width: 70% !important;
    }
}


@media screen and (min-width: 992px) {

    #aside {
        width: 130px;
    }

    .main_content {
        width: calc(100% - 130px);
    }

    .column.left {
        width: 60%;
    }

    .column.right {
        width: 40%;
    }

    .table .name {
        padding-right: 8rem;
    }

    .offcanvas {
        width: 50% !important;
    }
}


