/* *****HEADER */

#header {
    height: 60px;
}

.logo-container {
    height: 100%;
}

.dropdown-toggle::after {
    display: none;
}

ul {
    margin: 0;
}

.form-control {
    font-size: 0.75rem;
}

.input-group-text {
    font-size: 0.75rem;
    background-color: #E5E5E5;
}

#header .form-control {
    padding-left: 0;
    background-color: #E5E5E5;
}

.fa-ellipsis-vertical {
    cursor: pointer;
}

.form-control:focus {
    box-shadow: none;
}

/* ****MAIN */

.main_container {
    height: calc(100vh - 70px);
}

/* ASIDE */

#aside {
    width: 70px;
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: #10283D;
}

.side_bar {
    height: 100%;
}

.side_bar a {
    text-decoration: none;
}

.admin {
    margin-top: auto;
}

/* MAIN CONTENT */

.main_content {
    width: calc(100% - 70px);
    height: 100%;
    overflow: auto;
}

/* STUDENT BAR */

.student_bar {
    width: 100%;
    background-color: #1B72E8;
}

.student_bar .plus {
    width: 40px;
    aspect-ratio: 1;
}

.btn_student {
    font-size: 12px;
    background-color: #165BBA;
}

.student_bar .arrow {
    font-size: 12px;
}

/* INFO */

.info {
    width: 100%;
    height: calc(100% - 100px);
}

.column {
    width: 100%;
}

.info .btn {
    font-size: 10px;
}

.card h2 {
    background-color: #F7F7F7;
}

.table td {
    text-align: center;
    vertical-align: middle;
}

.table .name {
    text-align: start;
}

.code {
    display: inline-block;
    width: 32px;
    border-radius: 50%;
    aspect-ratio: 1;
    color: white;
    background-color: #F26551;
}

.table .btn.btn-outline-secondary {
    padding: 6px
}

.accordion-button {
    padding: 10px 16px;
}

.accordion-button:focus {
    box-shadow: none;
}

@media screen and (min-width: 992px) {

    #aside {
        width: 130px;
    }

    .main_content {
        width: calc(100% - 130px);
    }

    .column.left {
        width: 70%;
    }

    .column.right {
        width: 30%;
    }

    .table .name {
        padding-right: 10rem;
    }
}


